{% extends 'base.html' %}

{% block content %}
<style>
table, th, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

</style>
<h1>{{ Customers }}</h1>
<table>
	<tr>
		<th>Customer Name</th>
		<th>Address</th>
		<th>City</th>
		<th>County</th>
		<th>Postcode</th>
		<th>Country</th>
		<th>Phone</th>
		<th>Active</th>
	</tr>
	{% for instance in object_list %}
		<tr>
			<td><a href='{{ instance.get_absolute_url }}'> {{ instance.name }} </a></td>
			<td>{{ instance.address }}</td>
			<td>{{ instance.city }}</td>
			<td>{{ instance.county }}</td>
			<td>{{ instance.postcode }}</td>
			<td>{{ instance.country }}</td>
			<td>{{ instance.phone }}</td>
			<td align="center">{% if instance.active %} &#10004; </td> {% endif %}
		</tr>
	{% endfor %}
</table>
{% endblock %}